.container{
  padding-top:30px;

  table{
    width: 100%;
  }

  .search{
    padding:25px;
    display: flex;
    flex-direction: row;
  }

  .filter{
    padding-left: 10px;
    select{
      height: 21px;
    }
  }
}